<h1>arduino controller hehe</h1>
<h3>{{title}}</h3>
<h4>{{ledStatus}}</h4>
<form action="/api/tasks/changeStatus/ledCtrl/on" method="POST">
    <input type="submit" value="led on" class="btn btn-success">
</form>

<form action="/api/tasks/changeStatus/ledCtrl/off" method="POST">
    <input type="submit" value="led off" class="btn btn-danger">
</form>
